---
layout: page
title: Contact
permalink: /contact

links:
- icon: email
  url: "mailto:"
  username: "sky.q.rose@gmail.com"
- icon: twitter
  url: "https://www.twitter.com/"
  username: skyqrose
- icon: github
  url: "https://www.github.com/"
  username: skyqrose
- icon: keybase
  url: "https://keybase.io/"
  username: skyqrose
- icon: medium
  url: "https://medium.com/@"
  username: skyqrose
- icon: linkedin
  url: "https://www.linkedin.com/in/"
  username: sky-q-rose
- icon: reddit
  url: "https://reddit.com/u/"
  username: qrsky
- icon: instagram
  url: "https://instagram.com/"
  username: sky.q.rose
---
<ul class="social-media-list">
  {% for link in page.links %}
    <li>
      {% include social.html icon=link.icon url=link.url username=link.username %}
    </li>
  {% endfor %}
</ul>

