---
layout: page
title: Contact
permalink: /contact
---
<ul class="social-media-list">
  <li>
    {% include social.html icon="email" url="mailto:" username="sky.q.rose@gmail.com" %}
  </li>
  <li>
    {% include social.html icon="twitter" url="https://www.twitter.com/" username="skyqrose" %}
  </li>
  <li>
    {% include social.html icon="github" url="https://www.github.com/" username="skyqrose" %}
  </li>
  <li>
    keybase: <a href="keybase.io/skyqrose">skyqrose</a>
  </li>
  <li>
    {% include social.html icon="facebook" url="https://facebook.com/" username="sky.q.rose" %}
  </li>
  <li>
    reddit: <a href="reddit.com/u/qrsky">qrsky</a>
  </li>
  <li>
    {% include social.html icon="instagram" url="https://instagram.com/" username="skyqrose" %}
  </li>
</ul>

