---
layout: page
title: Contact
permalink: /contact
---
<ul class="social-media-list">
  <li>
    email: <a href="mailto:sky.q.rose@gmail.com">sky.q.rose@gmail.com</a>
  </li>
  <li>
    {% include social.html icon="twitter" url="www.twitter.com/" username="skyqrose" %}
  </li>
  <li>
    {% include social.html icon="github" url="www.github.com/" username="skyqrose" %}
  </li>
  <li>
    keybase: <a href="keybase.io/skyqrose">skyqrose</a>
  </li>
  <li>
    {% include social.html icon="facebook" url="facebook.com/" username="sky.q.rose" %}
  </li>
  <li>
    reddit: <a href="reddit.com/u/qrsky">qrsky</a>
  </li>
  <li>
    {% include social.html icon="instagram" url="instagram.com/" username="skyqrose" %}
  </li>
</ul>

