$color-text: #111;
$color-text-gray: #666;
$color-text-link: #2a4bcf;
$color-text-link-visited: #554dc7;

$color-bg: #fdfdfd;;
$color-bg-gray: #eef;

$color-border: #7e7e7e;
$color-border-light: #ddd;
$color-shadow: #7e7e7e;
