.m-post-list__list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.m-post-list__post {
  border: 1px solid $color-border;
  border-radius: 4px;
  box-shadow: 2px 2px 1px $color-shadow;
  display: block;
  max-width: 600px;
  overflow: hidden;

  &:hover {
    text-decoration: none;
    box-shadow: 3px 3px 1px $color-shadow;
  }
}

.m-post-list__cover {
  border-bottom: 1px solid $color-border;
}

.m-post-list__text {
  padding: 1rem;
}

.m-post-list__title {
  font-size: 2rem;
  font-weight: bold;
}

.m-post-list__meta {
  font-size: $small-font-size;
  color: $color-text-gray;
}
