.m-post-list__list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.m-post-list__post {
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 2px 2px 1px gray;
  display: block;
  padding: 1rem;

  &:hover {
    text-decoration: none;
    box-shadow: 3px 3px 1px gray;
  }
}
