.c-footer {
  @extend %content-width;
  @include relative-font-size(0.9375);

  border-top: 1px solid $color-border-light;
  color: $color-text-gray;
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-unit;
  padding-top: $spacing-unit;

  @include media-query-mobile {
    flex-wrap: wrap;
  }
}

.c-footer__col {
  flex: 1 1 33%;
  margin-right: $spacing-unit / 2;
  min-width: $spacing-unit * 2;
}

.c-footer__contact-list {
  list-style: none;
  margin-left: 0;
}
