/**
 * Site footer
 */
.site-footer {
  @extend %content-width;

  border-top: 1px solid $color-border-light;
  margin-top: $spacing-unit;
  padding-top: $spacing-unit;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);

  color: $color-text-gray;
  display: flex;
  justify-content: space-between;
  margin-left: -$spacing-unit / 2;

  @include media-query-mobile {
    flex-wrap: wrap;
  }
}

.footer-col {
  flex: 1 1 33%;
  margin-left: $spacing-unit / 2;
}

