/**
 * Site header
 */
.c-header {
  border-top: 5px solid $color-border;
  border-bottom: 1px solid $color-border;
  min-height: $spacing-unit * 1.865;
  margin-bottom: $spacing-unit;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.c-header__title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $color-text;
  }
}

.c-header__nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .c-header__nav-trigger {
      display: none;
  }

  .c-header__menu-icon {
    display: none;
  }

  .c-header__page-link {
    color: $color-text;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query-mobile {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $color-bg;
    border: 1px solid $color-border-light;
    border-radius: 5px;
    text-align: right;

    label[for="id-header__nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .c-header__menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $color-text;
      }
    }

    input ~ .c-header__pages {
      clear: both;
      display: none;
    }

    input:checked ~ .c-header__pages {
      display: block;
      padding-bottom: 5px;
    }

    .c-header__page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
