/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.post-meta {
  font-size: $small-font-size;
  color: $color-text-gray;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}
