.c-social {
  padding-bottom: 5px;

  &:hover {
    text-decoration: none;

    .c-social__username {
      text-decoration: underline;
    }
  }
}

.c-social__icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$color-text-gray};
  padding-right: 5px;
  vertical-align: text-top;
}
