---
layout: default
---
<article class="c-post" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    {%- if page.author -%}
      <p class="c-post__meta">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            {{ page.author }}
          </span>
        </span>
      </p>
    {%- endif -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <p class="c-post__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
    </p>
    {%- if page.last_modified -%}
      <p class="c-post__meta">
        Last modified:
        <time datetime="{{ page.last_modified | date_to_xmlschema }}" itemprop="dateModified">
          {{ page.last_modified | date: date_format }}
        </time>
      </p>
    {%- endif -%}
  </header>

  <hr class="c-post__separator">

  {{ content }}

  {%- if page.tweet or page.github -%}
    <hr class="c-post__separator">

    <footer>
      {%- if page.tweet -%}
        <p>
          <a href="{{ page.tweet }}">
            {% include social_icon.html icon="twitter" %}
            See the discussion on Twitter.
          </a>
        </p>
      {%- endif -%}

      {%- if page.github -%}
        <p>
          <a href="{{ page.github }}">
            {% include social_icon.html icon="github" %}
            See the source on GitHub.
          </a>
        </p>
      {%- endif -%}
    <footer>
  {%- endif -%}
</article>
